.header{
    width: 99vw;
    height: 7vh;

    &__title{
        color: var(--main-blue);
        width: auto;
        height: 100%;
        margin: 0 auto;
        font-family: var(--title-font);
        font-size: 4.25rem;
        line-height: auto;
        text-align: center;
        // text-shadow: 0.25rem 0.2rem 0.25rem rgb(2, 0, 7);
        text-shadow: 0.25rem 0.2rem 0.25rem var(--black);
    }
}
