.wrapper{
  width: 95vw;
  height: 85vh;
  margin-bottom: 1vh;
  position: relative;
  left: 2vw;
  overflow: hidden;
  border-radius: 2.75rem;
  // border: 0.2rem solid black;

  &::before{
    content: "";
    position: absolute;
    width: 150%;
    height: 250%;
    top: -75%;
    left: -25%;
    transform-origin: center;
    // transform: translate(-50%, -50%);
    background: conic-gradient(rgba(255, 255, 252, 0.02) 25%, var(--darker-blue) 50%, rgba(255, 255, 252, 0.02) 51%, rgba(255, 255, 252, 0.02) 75%, var(--darker-blue) 90%);
    animation: rotate 5s ease-in-out infinite;
    animation-fill-mode: forwards;
    // animation-direction: inherit;
    // border-radius: 2.5%;
    // z-index: -1;
  }

  .gameContainer{
      background-color: var(--white);
      background-image: linear-gradient(to bottom, var(--white) 45%, var(--light-blue) 95%);
      // border: 0.2rem solid black;
      border-radius: 2.5rem;
      width: 99.5%;
      height: 99%;
      position: relative;
      left: 0.25%;
      top: 0.5%;
      padding: 0.75rem;
      display: grid;
      overflow: hidden;
      grid-gap: 0.5rem 0.5rem;
      // grid-template-columns: 16.1% 16.1% 16.1% 16.1% 16.1% 16.1%;
      grid-template-columns: repeat(6, 1fr) ;
      // grid-template-rows: 15.3% 15.3% 15.3% 15.3% 15.3% 15.3%;
      grid-template-rows: repeat(6, 1fr);
      
    .category, .clue{
        border: 3px solid var(--very-dark-blue);
        /* color: var(--dark-blue); */
        color: var(--main-blue);
        border-radius: 2.5%;
        box-shadow: -0.05rem 0.05em 0.5rem var(--darker-blue);
        font-weight: bold;
        text-shadow: -0.1rem 0.1rem 0.25rem var(--very-dark-blue);
        margin-bottom: 0;
        // padding: 0.5rem;
        text-align: center;
        opacity: 0;
        // position: absolute;
        animation: ease-in-out 3s forwards 1;
        transition: all 0.5s ease;
        /* height: 50%; */
        /* width: 50%; */
    }

    .category{
        font-size: 2rem;
        background-color: var(--light-blue);
        color: var(--very-dark-blue);
        // background-color: #{'rgba(var(--brown_rgb), 0.8)'}
        // background-color: RGB(var(--red_rgb), 0.8);

        // &:hover{
        //   background-color: var(--white);
        // }
    }
    
    .clue{
      font-size: 3.5rem;
      transition: all 300ms;
    
      &:hover{
        box-shadow: -0.15rem 0.15em 0.5rem var(--darker-blue);
        border-color: var(--brown);
        background-color: var(--white);
        text-shadow: -0.1rem 0.1rem 0.25rem var(--dark-blue);
      }
    }
  }
}

@keyframes rotate {
  100%{
    transform: rotate(360deg);
  }
}

@keyframes fadeInClues {
  from{
    transform: translateY(-5%);
    opacity: 0;
  }
  to{
    transfrom: translateY(0); 
    opacity: 1;
  }
}